# Ignore Jekyll build artifacts
.sass-cache/
_site/
# Ignore Jekyll metadata
.jekyll-metadata
# Ignore vendor directory
vendor/
# Ignore Bundler config
.bundle/
# Ignore Visual Studio Code settings
.vscode/
# Ignore macOS system files
.DS_Store