# Ignore Jekyll build artifacts
.sass-cache/
_site/
# Ignore Jekyll metadata
.jekyll-metadata
# Ignore vendor directory
vendor/
# Ignore Visual Studio Code settings
vsc/
# Ignore macOS system files
.DS_Store